#chart {
    max-width: 650px;
    margin: 35px auto;
    margin-bottom: 0px;
}

.container_graph {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.frame_graph {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_graph {
    font-size: 1.3em;
    font-family: 'Nippo-Medium';
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

.pregunta_graph {
    font-size: 1.3em;
    font-family: 'Nippo-Medium';
    margin-bottom: 0px;
    text-align: center;
    min-height: 80px;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

.btn2_graph {
    width: 350px;
    height: 40px;
    font-size: 1.2em;
    margin-top: 15px;
    font-family: 'GeneralSans-Regular';
    background-color: black;
    color: white;
    border-radius: 999px
}

.graph {
    width: 100%;
    /* max-height: 500px; */
}

.graph_canvas {
    width: 100%;
    height: auto;
    max-width: 70%;
    /* max-height: 500px; */
    text-align: center;
    margin: 0 16px;
}

.text_graph {
    font-size: 1.3em;
    font-family: 'Nippo-Medium';
    margin-bottom: 0px;
    text-align: center;
    min-height: 80px;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

.title_text_graph {
    margin-top: 30px;
    font-size: 1.3em;
    font-family: 'Nippo-Medium';
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.description_text_graph {
    font-size: 1em;
    font-family: 'GeneralSans-SemiBold';
    margin-bottom: 0px;
    width: 90%;
    padding: 20px;
    text-align: justify;
}

.img_derecha {
    position: absolute;
    justify-content: center;
    right: 0;
}

.img_izquierda {
    position: absolute;
    left: 0;
    z-index: 2;
}

.img_comu{
    margin: 8px 0;
}

.img_comu img{
    height:200px;
}

.description_text_final {
    margin-top: 20px;
    text-align: center;
}

.img_redes {
    margin: 10px;
}

.button_img_redes{ 
    margin: 0 26px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    min-width: 0;
    border-radius: 50%;
    line-height: 0;
}
.button_img_redes:hover{ 
    transform: scale(1.3);
    background-color: transparent
}


.shared-img {
    width: 50px;
}

.shared-bg-black-img{
    background-color: #000;
    border-radius: 99999px;
}


.twitter {
    width: 33px;
    margin: 11px;
}

.spacer_graph {
    margin-top: 100px;
}

.rotulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.etiqueta_izq {
    align-self: center;
}

.etiqueta_der {
    align-self: center;
}

.acordion-item-wrapper{
    border: 1px solid;
    width: 70%;
    margin: 16px auto;
    border-radius: 16px;
    padding: 1rem;
}

.example-accordion-item-header {
    width: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.example-accordion-item-body {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 70%;
    margin:auto;
    font-size: 1em;
    font-family: 'GeneralSans-Medium';
    padding: 10px;
}

.example-accordion {
    margin-top: 20px;
    background-color: white;
    width: 100%;
}


/* .chosen {
    background-color: lightslategray;
} */

.btn_graph {
    width: 250px;
    height: 40px;
    font-size: 1.1em;
    font-family: 'GeneralSans-Medium';
    border: 1px solid #000;
    vertical-align: middle;
    border-radius: 10px;
}

.item-title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'GeneralSans-Bold';
}

.share {
    margin: 30px ;
}

.title-share{
    font-size: 1.3em;
    font-family: 'Nippo-Medium';
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
}

::ng-deep .custom-dialog-container .mat-dialog-container{
    border: 2px solid #000;
    border-radius: 16px;
}
.card{
    box-shadow: none;
    font-family: 'Nippo-Medium';
}
.card-header{
    display: flex;
    justify-content: center;
}

.card-title{
    text-align: center;
}


.card-action{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    
.graph_canvas {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}
}